body {
  font-family: Poppins, sans-serif;
  height: 100vh;
}

:root[data-theme="light"] {
  --text: #021831;
  --background: #e1eefe;
  --primary: #5da6f8;
  --secondary: #9dc9fb;
  --accent: #0860c4;
  --static-3: rgba(0, 0, 0, 0.05);
  --static-10: rgba(0, 0, 0, 0.1);
}
:root[data-theme="dark"] {
  --text: #cee4fd;
  --background: #010e1e;
  --primary: #074fa2;
  --secondary: #043062;
  --accent: #3b93f7;
  --static-3: rgba(255, 255, 255, 0.03);
  --static-10: rgba(255, 255, 255, 0.1);
}

.my-background {
  background: var(--background);
}

.my-primary {
  color: var(--primary);
}

.my-secondary {
  color: var(--secondary);
}

.my-accent {
  color: var(--accent);
}

.my-static-3 {
  color: var(--static-3);
}

.my-static-5 {
  color: var(--static-5);
}

.my-text {
  color: text;
}
